.jackpot {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #fff;
}

.jackpot div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
}

.jackpot div div {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #fff;
}

.jackpot div div.active {
    color: red;
}
